* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  background-color: #191d26;
  color: #d6d6d6;
}

body a:link, body a:hover, body a:visited, body a:active {
  color: #d6d6d6;
}

#bigflexbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#sidebar {
  position: fixed;
  width: 16em;
  height: 100%;
  background-color: #262b35;
  border-right: 1px solid #0e1016;
}

#sidebar ul#sidebar-list {
  padding-top: 3em;
}

#sidebar ul#sidebar-list li {
  list-style-type: none;
  padding: .5em 1em .5em 1.5em;
}

#sidebar ul#sidebar-list li.selected {
  background-color: #3d4551;
}

#sidebar ul.sort-buttons {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 16em;
  bottom: 15px;
}

#sidebar ul.sort-buttons li {
  list-style-type: none;
  display: inline;
  z-index: 2;
  padding: .5em .7em;
  border: 1px solid #a2a2a5;
  border-radius: 15%;
  transition: background-color .5s, border .5s;
}

#sidebar ul.sort-buttons li:hover {
  background-color: #3d4551;
  border: 1px solid #3d4551;
  cursor: pointer;
}

#games {
  width: 85%;
  margin-left: 16em;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#games .game {
  display: block;
  justify-self: center;
  width: 200px;
  height: 300px;
  margin-top: 1em;
  margin-bottom: 4em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 1s;
}

#games .game:hover {
  background-color: rgba(255,255,255,0.3);
}

#games .game p {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  position: relative;
  top: 103%;
  text-shadow: 0 0 3px #191d26;
  user-select: none;
}

.new-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  background-color: #262b35;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
  transition: background-color .5s ease-in-out;
}

.new-button:hover {
  background-color: #43A047;
}

.new-button p {
  margin-top: 2px;
  font-size: 160%;
}

.manage-button {
  right: 80px;
}

.modal {
  pointer-events: none;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
  position: fixed;
  width: 640px;
  height: 520px;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: #3d4551;
  outline: 1000px solid rgba(0,0,0,0.5);
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.5);
}

.modal:target {
  pointer-events: auto;
  opacity: 1;
}

.modal h3 {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.modal ul.tab-bar {
  padding-top: 10px;
  margin-bottom: 5px;
}

.modal ul.tab-bar li {
  z-index: 1;
  position: relative;
  display: inline;
  padding: 1em 1em .5em 1em;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  background-color: #262b35;
}

.modal ul.tab-bar li.tab-selected {
  background-color: #3d4551;
}

.modal form {
  position: relative;
  z-index: 2;
  background-color: #3d4551;
  display: grid;
  grid-template-columns: auto auto;
}

.modal form input, .modal form select {
  display: block;
  margin: 1em;
  padding: .1em;
}

.modal form label {
  margin-left: 1em;
  font-size: 10pt;
}

.modal form label input {
  margin-left: 0;
}

.modal form figure {
  height: 150px;
  margin: 0 10px 10px 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal form a {
  justify-self: center;
}

.modal form .file-input input[type="text"], .modal form .file-input label {
  display: inline;
}

.modal form.form-game .file-input input[type="text"] {
  width: 60%;
}

.modal form .file-input label {
  margin: 0;
  border: 1px solid #d6d6d6;
  padding: 2px 5px 3px 5px;
  border-radius: 5px;
  transition: background-color .5s, border .5s;
}

.modal form .file-input label:hover {
  background-color: #262b35;
  border: 1px solid #262b35;
}

.modal form .file-input input[type="file"] {
  display: none;
}

.modal form button {
  padding: .5em;
  margin-top: 10px;
  width: 100px;
  justify-self: center;
  background-color: rgba(0,0,0,0);
  color: #d6d6d6;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

.modal form button[type="submit"] {
  background-color: #43A047;
}

.modal form .label-syntax, .modal form.form-system .form-ti {
  grid-column-start: 1;
  grid-column-end: 3;
}

#backdrop {
  position: fixed;
  display: block;
  top: 0;
  left: 16em;
  width: 87%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: local;
  opacity: 0.2;
  transition: opacity 1s;
}
